body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
/*.form-signin .form-control:focus {*/
  /*z-index: 2;*/
/*}*/
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.auth{
  position: absolute;
  right: 15px;
  bottom: 105px;
  height: 40px;
  width: 120px;
  border-radius: 5%;
}
.nav-pills>li{
  float: left;
  width: 24.8%;
  text-align: center;
}

.punchTitle{
  text-align: center;
}

.fontCustom{
  font-family: "Adobe 宋体 Std L";
  font-size: 24px;
}